.team-member {
  margin-bottom: 3rem;
  text-align: center;
  img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);    
  }
  h4, .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;    
  }
}
.my-profile {
 text-align: center;
}
.my-profile-box {
  p {
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
  .underline {
    font-weight: bold;
    line-height: 1.75;
    margin-bottom: 1rem;
    background: linear-gradient(transparent 50%, yellow 50%);    
  }
}
@media (min-width: 992px) {
  .my-profile {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .my-profile-box p {
    max-width: none;
  }
}